<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--It let us give control on the webpage dimensions and scaling by giving commands to the web browser https://www.w3schools.com/css/css_rwd_viewport.asp-->

    <!--The width=device-width section adjusts the page's width to match the device's screen size whereas initial-scale=1.0 defines the first zoom level when the page loaded-->

    <!-- Using darky Bootstrap theme from bootswatch.com -->
    <link
      rel="stylesheet"
      href="\stylesheets\bootstrap.min.css"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="\stylesheets\mystyle.css"/>

    <!-- Using Font Awesome -->
    <script src="https://kit.fontawesome.com/996973c893.js"></script>

    <!-- Google Fonts -->
  </head>
<body>
    <h1>{{title}}</h1>
    <div class="container p-4">
        <div class="row">
          <div class="col-6">
            <img src="\images\2.jpg" width="500" height="500"  class="rounded-circle" >
          </div>
          <div class="col-6 p-4 text-white">
            <h3>Here's how I explain myself</h3>
     
             <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
             </p>
          </div>
        </div>
      </div>
     
      <div class="col-6">
       
     </div>

      <!-- Footer tag to add footer text (Copyright© 2021 Sundaram Sharma)-->
     <footer>
    <div class="container text-center p-1 m-1 ">
      <h6><a href="">Copyright© 2021 Sundaram Sharma</a></h6>
    </div>
  </footer>
</body>
</html>




