<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--It let us give control on the webpage dimensions and scaling by giving commands to the web browser https://www.w3schools.com/css/css_rwd_viewport.asp-->

    <!--The width=device-width section adjusts the page's width to match the device's screen size whereas initial-scale=1.0 defines the first zoom level when the page loaded-->


    <!-- Using darky Bootstrap theme from bootswatch.com -->
    <link
      rel="stylesheet"
      href="C:\Users\Sundaram Sharma\Desktop\Web dev\portfolio-master\portfolio-template\bootstrap.min.css"
    />

    <!-- My CSS -->
    <link rel="stylesheet" href="mystyle.css" />

    <!-- Using Font Awesome -->
    <script src="https://kit.fontawesome.com/996973c893.js"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Roboto+Slab:wght@200;400;600;900&display=swap"
      rel="stylesheet"
    />

    <title>Portfolio</title>
  </head>
  <body>

  <!--Creating a navigation bar-->




 <div id="home" class="container main-container">
   <div class="row main-row">
     <div class="col-6">
        <h2 class="text-white">Hi there!</h2>
        <h1 class="text-warning">I'm Sundaram</h1>
        <h2 class="text-white">a front-end Web Developer</h1>

     </div>
     <div class="col-6">
       <img src="\images\1.jpg" class="rounded-circle"> <!-- imagetocircle bootstrap 4 https://www.w3schools.com/bootstrap4/bootstrap_images.asp -->
    </div>
   </div>
 </div>

 <!--creating section for about-->
 <div class="container p-4">
   <div class="row">
     <div class="col-6">
       <img src="\images\2.jpg" width="500" height="500"  class="rounded-circle" >
     </div>
     <div class="col-6 p-4 text-white">
       <h3>About Me</h3>

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
     </div>
   </div>
 </div>

 <div class="col-6">
  
</div>

<!--creating section for projects-->
  <div class="container">
    <h1 class="text-warning m-3 p-2">Projects are here:</h1>
    <div class="row">
      <!--using cards from bootstrap cards-->
      <div class="col-4 mb-5">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\images\3.jpg" height="300" alt=" My project 01" style="height: 13rem;">
            <div class="card-body">
              <h5 class="card-title">project 01</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>

        <div class="col-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\images\3.jpg" height="300" alt=" My project 02" style="height: 13rem;">
            <div class="card-body">
              <h5 class="card-title">project 02</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>

        <div class="col-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\images\3.jpg" height="300" alt=" My project 03" style="height: 13rem;">
            <div class="card-body">
              <h5 class="card-title">project 03</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>

        <div class="col-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\images\3.jpg" height="300" alt=" My project 04" style="height: 13rem;">
            <div class="card-body">
              <h5 class="card-title">project 04</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>

        <div class="col-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\images\3.jpg" height="300" alt=" My project 05" style="height: 13rem;">
            <div class="card-body">
              <h5 class="card-title">project 05</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>

        <div class="col-4 mb-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\images\3.jpg" height="300" alt=" My project 06" style="height: 13rem;">
            <div class="card-body">
              <h5 class="card-title">project 06</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Click to open</a>
            </div>
          </div>
        </div>

    </div>
  </div>

<!--Contact section referenced from mdbootstrap  https://mdbootstrap.com/docs/b4/jquery/forms/contact/-->
<!--Section: Contact v.2-->

<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold my-4">Contact Me</h2>
    
    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                <a href="#home" class="text-white navigation-link">Back to the Top </a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i> <!--fontaweone icon used-->
                    <p>HARIDWAR, UTTARAKHAND, IND</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i> <!--fontaweone icon used-->
                    <p>+91 9897830481</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i> <!--fontaweone icon used-->
                    <p>sundaramsharma1209@hotmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>

    <div class="container">
      <a href="https://www.linkedin.com/in/sundaramsharma1209/" target="_blank"> <!--fontaweone icon used-->
        <i class="fab fa-linkedin fa-2x">LinkedIn</i> 
      </a>
      <a href="https://github.com/Sundaram1209" target="_blank"> <!--fontaweone icon used-->
        <i class="fab fa-github-square fa-2x text-white m-3">GitHub</i> 
      </a>
      <a href="https://stackoverflow.com/users/12742552/sundaram-sharma" target="_blank"> <!--fontaweone icon used-->
        <i class="fab fa-stack-overflow fa-2x text-warning m-3">stackoverflow</i> 
      </a>
      <a href="https://twitter.com/sundaram1209" target="_blank"> <!--fontaweone icon used-->
        <i class="fab fa-twitter-square fa-2x text-blue m-3 ">Twitter</i> 
      </a>
    </div>

 <!-- Footer tag to add footer text (Copyright© 2021 Sundaram Sharma)-->
  <footer>
    <div class="container text-center p-1 m-1 ">
      <h6><a href="">Copyright© 2021 Sundaram Sharma</a></h6>
    </div>
  </footer>
  </body>
</html>
